.chat {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  border: 1px dashed orange;
}

.message {
  width: 100%;
  height: 10vh;
  display: flex;
}

.chat p {
  margin: 0;
  padding: 5px;
  color: black;
}

.chat p:nth-child(even) {
  background-color: #cce0f0;
}

.chat p:hover {
  background-color: #ffb3b3;
}

textarea {
  border: 3px solid grey;
  border-radius: 3px;
  font-size: 12pt;
  max-width: 80%;
}

button {
  font-size: 12pt;
  color: black;
  border-radius: 0;
  border: 1px solid black;
  cursor: pointer;
  max-height: 50%;
}

.bg-green {
  background-color: #00FF00;
}

.bg-red {
  background-color: red;
}

#type {
  background-color: lightgrey;
}
